{% extends 'base.html' %}
{% load static %}

{% block content %}
{% static 'images\background.png' as wallpaper %}
    <section class="section-content padding-y bg-secondary-subtle" style="min-height: 55vh; background-image: url("{% static "wallpaper" %}")">
        <br>
        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto text-center" style="max-width: 600px;">
            <div class="card-body">
                
                <h4 class="card-title mb-4">Weryfikacja</h4>
                {% include 'includes/alerts.html' %}
                
                <form action="{% url "change_email" %}" method="POST">
                {% csrf_token %}
                    
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Podaj hasło" name="password">
                    </div> <!-- form-group// -->
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-light border border-black"> Potwierdź </button>
                    </div> <!-- form-group// -->
                </form>
                
            </div> <!-- card-body.// -->
        </div> <!-- card .// -->
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    </section>
{% endblock %}