{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y" style="background-color: aliceblue">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <br>
    <div class="card mx-auto" style="max-width: 800px; margin-top: 40px; background-color: azure; margin: 0 auto; padding: 5px">
        <article class="card-body">
            {% include 'includes/alerts.html' %}
            <header class="mb-4">
                <h4 class="card-title">Zarejestruj się</h4>
            </header>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col form-group col-md-6">
                        <label>Imie</label>
                        {{ form.first_name }}
                    </div> <!-- form-group end.// -->
                    <div class="col form-group col-md-6">
                        <label>Nazwisko</label>
                        {{ form.last_name }}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Adres email</label>
                        {{ form.email }}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                              <label>Stwórz hasło</label>
                              {{ form.password }}
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                              <label>Powtórz hasło</label>
                              {{ form.confirm_password }}
                    </div> <!-- form-group end.// -->
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-light btn-block"> Zarejestruj się </button>
                </div> <!-- form-group// -->
                {{ form.email.errors }}
                {{ form.non_field_errors }}
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->

    <!--<div style="float: right; margin-top: 40px;">
        <img src="{% static 'your_image_path.jpg' %}" alt="Right Side Image" style="max-width: 200px;">
    </div> -->

    <p class="text-center mt-4">Masz już konto? <a href="{% url 'login' %}">Zaloguj się</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->

</section>
{% endblock %}