{% load static %}
<footer id="footer" style="bottom: 0;">
    <div class="container">
      <div class="footer-menu-list">
        <div class="row d-flex flex-wrap justify-content-center">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu text-center">
              <h5 class="widget-title">Kontakt</h5>
              <p>E-mail: jakieskonto@gmail.com</p>
              <p>Numer telefonu: +48 000 000 000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div id="footer-bottom">
    <div class="container">
      <div class="d-flex align-items-center flex-wrap justify-content-between">
        <div class="copyright">
          <p>Strona utworzona przez <a href="https://www.linkedin.com/in/tobiasz-pietrzak-0256a42b7/" target="_blank">Tobiasza Pietrzaka</a><sup>&copy;</sup>
          </p>
        </div>
        <div class="payment-method">
          <p>Opcje płatności :</p>
          <div class="card-wrap">
            <img src="{% static 'images/visa-icon.jpg' %}" alt="visa">
            <img src="{% static 'images/mastercard.png' %}" alt="mastercard">
          </div>
        </div>
      </div>
    </div>
  </div>