{% load static %}
<header id="header">
    <div id="header-wrap">
      <nav class="primary-nav padding-small">
        <div class="container-fluid">
          <div class="row d-flex align-items-center">
            <div class="col col-lg-2 col-md-2">
              <div class="main-logo">
                <a href="{% url 'home' %}">
                  <h3 >Strona główna</h3>
                </a>
              </div>
            </div>
            <div class="col col-lg-10 col-md-10">
              <div class="navbar">
                <div id="main-nav" class="stellarnav d-flex justify-content-end">
                  <ul class="menu-list">
                      {% if user.is_authenticated %}
                      <li>Witaj {{user.username}}&nbsp;<p class="divider"> | </p></li>&nbsp;
                      <li><a href="{% url "info" %}" class="item-anchor" data-effect="Dashboard">Profil</a></li><p class="divider">/</p>
                      <li><a href="{% url 'logout' %}" class="item-anchor" data-effect="Logout">Wyloguj się</a></li>&nbsp;<p class="divider">|</p>&nbsp;
                      <li>
                        <a href="{% url "cart" %}" class="item-anchor position-relative">
                          Koszyk
                          {% if cart_count > 0 %}
                          <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger">
                            {{ cart_count }}
                          </span>
                          {% endif %}
                        </a>
                      </li>
                      {% else %}
                      <li><a href="{% url 'login' %}" class="item-anchor" data-effect="Login">Logowanie</a></li><p class="divider">/</p>
                      <li><a href="{% url 'register' %}" class="item-anchor" data-effect="Register">Rejestracja</a></li> 
                      {% endif %}          
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>