{% extends "base.html" %}
{% load static %}
{% block content %}
{% static "images/hero-image.jpg" as backG %}
<section class="site-banner jarallax min-height300 padding-large" style="background: url('{{backG}}') no-repeat; background-position: top;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-title">Dostępne kursy</h1>
          <div class="breadcrumbs">
            <span class="item">
              <a href="index.html">Strona główna /</a>
            </span>
            <span class="item">Przedmioty</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="shopify-grid padding-large">
    <div class="container">
      <div class="row">

        <section id="selling-products" class="col-md-9 product-store">
          <div class="container">
            <ul class="tabs list-unstyled">
              <li data-tab-target="#all" class="active tab">Wszystko</li>
            </ul>
            <div class="tab-content">
              <div id="all" data-tab-content class="active">
                <div class="row d-flex flex-wrap">
                  <div class="product-item col-lg-4 col-md-6 col-sm-6">
                    <div class="image-holder">
                      <img src="{% static 'images/selling-products1.jpg' %}" alt="Books" class="product-image">
                    </div>
                    <div class="cart-concern">
                      <div class="cart-button d-flex justify-content-between align-items-center">
                        <button type="button" class="btn-wrap cart-link d-flex align-items-center">Dodaj do koszyka <i class="icon icon-arrow-io"></i>
                        </button>
                        <button type="button" class="view-btn tooltip
                            d-flex">
                          <i class="icon icon-screen-full"></i>
                          <span class="tooltip-text">Szczegóły</span>
                        </button>
                      </div>
                    </div>
                    <div class="product-detail">
                      <h3 class="product-title">
                        <a href="single-product.html">Half sleeve T-shirt</a>
                      </h3>
                      <div class="item-price text-primary">$40.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
              <div class="pagination loop-pagination d-flex justify-content-center">
                <a href="#" class="pagination-arrow d-flex align-items-center">
                  <i class="icon icon-arrow-left"></i>
                </a>
                <span aria-current="page" class="page-numbers current">1</span>
                <a class="page-numbers" href="#">2</a>
                <a class="page-numbers" href="#">3</a>
                <a href="#" class="pagination-arrow d-flex align-items-center">
                  <i class="icon icon-arrow-right"></i>
                </a>
              </div>
            </nav>
          </div>
        </section>

        <aside class="col-md-3">
          <div class="sidebar">
            <div class="widgets widget-menu">
              <div class="widget-search-bar">
                <form role="search" method="get" class="d-flex">
                  <input class="search-field" placeholder="Search" type="text">
                  <button class="btn btn-dark"><i class="icon icon-search"></i></button>
                </form>
              </div> 
            </div>
            <div class="widgets widget-product-tags">
              <h5 class="widget-title">Tags</h5>
              <ul class="product-tags sidebar-list list-unstyled">
                <li class="tags-item">
                  <a href="">White</a>
                </li>
                <li class="tags-item">
                  <a href="">Cheap</a>
                </li>
                <li class="tags-item">
                  <a href="">Branded</a>
                </li>
                <li class="tags-item">
                  <a href="">Modern</a>
                </li>
                <li class="tags-item">
                  <a href="">Simple</a>
                </li>
              </ul>
            </div>
            <div class="widgets widget-product-brands">
              <h5 class="widget-title">Brands</h5>
              <ul class="product-tags sidebar-list list-unstyled">
                <li class="tags-item">
                  <a href="">Nike</a>
                </li>
                <li class="tags-item">
                  <a href="">Adidas</a>
                </li>
                <li class="tags-item">
                  <a href="">Puma</a>
                </li>
                <li class="tags-item">
                  <a href="">Spike</a>
                </li>
              </ul>
            </div>
            <div class="widgets widget-price-filter">
              <h5 class="widget-title">Filter By Price</h5>
              <ul class="product-tags sidebar-list list-unstyled">
                <li class="tags-item">
                  <a href="">Less than $10</a>
                </li>
                <li class="tags-item">
                  <a href="">$10- $20</a>
                </li>
                <li class="tags-item">
                  <a href="">$20- $30</a>
                </li>
                <li class="tags-item">
                  <a href="">$30- $40</a>
                </li>
                <li class="tags-item">
                  <a href="">$40- $50</a>
                </li>
              </ul>
            </div>
          </div>
        </aside>
        
      </div>        
    </div>      
  </div>
<hr>
{% endblock %}