{% extends "base.html" %}
{% load static %}
{% block content %}
{% static "images/background.jpg" as backG %}
<section class="site-banner jarallax min-height300 padding-large" style="background: url('{{backG}}') no-repeat; background-position: top;">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></a>
          <h1 class="page-title text-light">Dostępne kursy</h1>
          <div class="breadcrumbs">
            <span class="item">
              <a href="{% url 'home' %}" class="text-light">Strona główna /</a>
            </span>
            <span class="item">Przedmioty</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="shopify-grid padding-large">
    <div class="container">
      <div class="row">

        <section id="selling-products" class="col-md-9 product-store">
          <div class="container-fluid">
            <div class="tab-content">
              <div id="all" data-tab-content class="active">
                <div class="row d-flex flex-wrap">
                  {% if products %}
                  {% for product in products %}
                  <div class="product-item col-lg-4 col-md-6 col-sm-6">
                    <div class="image-holder">
                      <a href="{% url 'product_details' product.pk %}"><img src="..{{product.image.url}}" alt="{{product.name}}" class="product-image"></a>
                    </div>
                    <div class="product-detail">
                      <h3 class="product-title text-light">
                        <a href="{% url 'product_details' product.pk %}">{{product.name}}</a>
                      </h3>
                      <div class="item-price text-primary">{{product.price}}Zł</div>
                    </div>
                  </div>
                  {% endfor %}
                  {% else %}
                  <div class="container mx-auto text-center">
                    <h3>Wykupiłeś wszystkie produkty!</h3>
                    <p>Sprawdź swój profil</p>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            
          </div>
        </section>
      </div>        
    </div>      
  </div>
<hr>
{% endblock %}