{% extends 'base.html' %}


{% block content %}

<div class="row conteiner mx-auto">
    <!-- Left sidebar -->
    <!-- load the sidebar here -->
    {% include 'dashboard/sidebar.html' %}
    <!-- Right side content -->
    <div class="col-md-9">
      {% if user.is_staff %}
      {% include 'includes/alerts.html' %}
        <h2 class="text-light">Wszystkie kursy</h2>
        <a href="{% url "add_course" %}" class="btn btn-dark text-light float-right mb-2">Dodaj kurs</a>
        <a href="{% url "add_session" %}" class="btn btn-dark text-light float-right mb-2">Dodaj Sesje</a>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Tytuł</th>
                <th>Sesje</th>
                <th>Opublikowane</th>
                <th>Akcja</th>
              </tr>
            </thead>
            <tbody>
            {% for product in products %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ product.name }}</td>
                <td>
                  <div class="accordion" id="accordionExample{{ forloop.counter }}">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                          Edycja sesji
                        </button>
                          </h2>
                          <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample{{ forloop.counter }}">
                            <div class="accordion-body">
                              <ol>
                                {% for session in sessions %}
                                {% if session.product.pk == product.pk %}
                                <li>{{ session.name }}&nbsp;<a href="{% url "edit_session" session.pk %}"><i class="fa fa-edit text-success"></i></a>&nbsp;<a href="{% url "delete_session" session.pk %}" onclick="return confirm('Na pewno chcesz usunąć ten kurs? (Usunie to wszystkie jego sesje!)')"><i class="fa fa-trash text-danger"></i></a></li>
                                {% endif %}
                                {% endfor %}
                              </ol>
                            </div>
                          </div>
                    </div>
          </div>
                </td>
                <td>{% if product.is_published %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
                <td>
                    <a href="{% url "edit_course" product.pk %}"><i class="fa fa-edit text-success"></i></a>
                    &nbsp;
                    <a href="{% url "delete_course" product.pk %}" onclick="return confirm('Na pewno chcesz usunąć ten kurs? (Usunie to wszystkie jego sesje!)')"><i class="fa fa-trash text-danger"></i></a>
                </td>
              </tr>
            {% endfor %}
              
            </tbody>
          </table>
          {% else %}
    <h5>Nie masz uprawnień do przeglądania tej strony</h5>
    {% endif %}
    </div>
</div>
<hr>
{% endblock %}