{% extends 'base.html' %}

{% block content %}
<div class="row container mx-auto">
    <!-- Left sidebar -->
    <!-- load the sidebar here -->
    {% include 'dashboard/sidebar.html' %}

    <!-- Right side content -->
    <div class="col-md-9">
        <span>Zalogowany jako <b>{{ user }}</b></span>
        <div class="row">
            <div class="col">
                <div class="card border-default mb-3">
                    <div class="card-header text-center text-uppercase font-weight-bold">Ostatnie zamówienia</div>
                    <div class="card-body text-dark">
                        {% if orders %}
                        <table>
                            <tr>
                              <th>Numer Zamówienia</th>
                              <th>Numer Płatności</th>
                              <th>Produkt</th>
                              <th>Koszt</th>
                              <th>Ostatnia aktualizacja</th>
                            </tr>
                            {% for order in orders %}
                            <tr>
                              <td>{{order.order.order_number}}</td>
                              <td>{{order.payment.payment_id}}</td>
                              <td>{{order.product.name}}</td>
                              <td>{{order.prdouct_price}}zł+VAT</td>
                              <td>{{order.upadated_at}}</td>
                            </tr>
                            {% endfor %}                 
                    </table>
                    {% else %}
                    <h4 class="mx-auto text-center">Brak</h4>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}